# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Buildroot fetch + build trees (recreated by os/build.sh)
.cache/
buildroot-*/
output/
*.iso
*.squashfs
*.vdi

# VirtualBox
*.vbox-prev
*.log

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
