set timeout=5
set default=0

menuentry "Homestead (live)" {
	linux /boot/bzImage root=/dev/sr0 console=tty1
	initrd /boot/initrd
}

menuentry "Homestead (debug shell)" {
	linux /boot/bzImage root=/dev/sr0 console=tty1 init=/bin/sh
	initrd /boot/initrd
}
